<h1 class='center'>Memory Game</h1>

<div class='container'>

	<div class='row'>
		<div id='flip1' class='col s2 grid-cell hidden'>1</div>
		<div id='flip2' class='col s2 grid-cell hidden'>1</div>
		<div id='flip3' class='col s2 grid-cell hidden'>2</div>
		<div id='flip4' class='col s2 grid-cell hidden'>2</div>
	</div>
	
	<div class='row'>
		<div id='flip5' class='col s2 grid-cell hidden'>3</div>
		<div id='flip6' class='col s2 grid-cell hidden'>3</div>
		<div id='flip7' class='col s2 grid-cell hidden'>4</div>
		<div id='flip8' class='col s2 grid-cell hidden'>4</div>
	</div>

	<div class='row'>
		<div id='flip9' class='col s2 grid-cell hidden'>5</div>
		<div id='flip10' class='col s2 grid-cell hidden'>5</div>
		<div id='flip11' class='col s2 grid-cell hidden'>6</div>
		<div id='flip12' class='col s2 grid-cell hidden'>6</div>
	</div>

	<div class='row'>
		<div id='flip13' class='col s2 grid-cell hidden'>7</div>
		<div id='flip14' class='col s2 grid-cell hidden'>7</div>
		<div id='flip15' class='col s2 grid-cell hidden'>8</div>
		<div id='flip16' class='col s2 grid-cell hidden'>8</div>
	</div>

</div>
